body {
  background-color: rgba(179, 167, 167, 0.692);
}

.header {
  background-color: rgba(60, 170, 159, 0.788);
  height: 75px;
  margin-bottom: 45px;
}

.search-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.search-form input {
  border: 3px solid rgb(214, 125, 9);
  border-radius: 11px;
  font-size: 20px;
  color: blue;
  outline: none;
}

button {
  color: blue;
  font-size: 20px;
  background-color: lime;
  border: 3px solid rgb(214, 125, 9);
  border-radius: 11px;
  margin-left: 15px;
}

.load-more {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  font-size: 30px;
}

.gallery {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card img {
  width: 400px;
  height: 300px;
  border: 1px solid gray;
}

.info {
  font-size: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  border: 1px solid gray;
}
