.header {
  background-color: rgb(43, 146, 136);
  height: 75px;
}

.search-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.search-form input {
  border: 3px solid rgb(214, 125, 9);
  border-radius: 11px;
  font-size: 20px;
  color: blue;
  outline: none;
}

button {
  color: blue;
  font-size: 20px;
  background-color: lime;
  border: 3px solid rgb(214, 125, 9);
  border-radius: 11px;
  margin-left: 15px;
}

.load-more {
margin: 0 auto;
display: block;
margin-top: 20px;
font-size: 30px;
}

.gallery {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card img {
  width: 400px;
  height: 300px;
}

.info {
  font-size: 12px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
